<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="well">
	<span itemprop="streetAddress">#401 Plaza 2</span><br />
	<span itemprop="streetAddress">2339 McCallie Ave</span><br />
	<span itemprop="addressLocality">Chattanooga</span>,
	<span itemprop="addressRegion">TN</span>&nbsp;
	<span itemprop="postalCode">37404</span><br />
	<a href="http://maps.google.com/maps?rlz=1C1LENP_enUS484US484&amp;es_sm=93&amp;q=2339+McCallie+Ave.&amp;um=1&amp;ie=UTF-8&amp;hq=&amp;hnear=0x8860675356ce8bef:0xe519c7e6c608efca,2339+McCallie+Ave,+Chattanooga,+TN+37404&amp;gl=us&amp;daddr=2339+McCallie+Ave,+Chattanooga,+TN+37404&amp;sa=X&amp;ei=EiJ8U6O6LPDlsATg2IHoCg&amp;ved=0CCsQwwUwAA" title="Directions to 2339 McCallie Ave">Directions</a>
</div>

